* {
	border: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color: #f9f9f9;
	color: #333;
}

.nav-bar {
	margin: 1em 0;
}

.nav-bar li,
aside li {
	list-style: none;
}

main,
aside {
	margin: 2em;
}

h1 {
	margin: .5em 0;
	text-align: center;
	color: #004080;
}

h2 {
	margin: .5em 0 .4em 0;
	color: #0059b3;
	padding-left: .25em;
	background-color: #ffe380;
}

h3 {
	margin: .5em 0 .3em 0;
	color: #0066cc;
}

aside {
	background-color: #ffe380;
	padding: .01em 0 1.25em 1em;
	border-radius: 10px;
	width: 225px;
}

a:link,
a:visited {
	color: #0066cc;
	text-decoration: none;
}
a:hover,
a:active {
	color: #004080;
	font-weight: bold;
}

.example-form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	justify-content: flex-start;
	max-width: 300px;
	margin: 1em auto;
	padding: 1em;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:invalid {
	border: 1px solid red;
}

input:valid {
	border: 1px solid green;
}

input:focus {
	border-color: blue;
}

input:required {
	background-color: #ffecec;
}

button:disabled {
	opacity: 0.5;
}

footer {
	margin: 1em 0;
	padding: 0.5em;
	border-radius: 5px;
	text-align: center;
}

/* ---------- Code ---------- */

.inline-code {
	font-family: monospace;
	background-color: #f0f0f0;
	border-radius: 3px;
	padding: 0.2em 0.4em;
	color: darkorange;
	/* font-weight: bold; */
	font-size: larger;
}

pre .language-html, pre .language-css, pre .language-js {
  tab-size: 2;
  -webkit-nbsp-mode: space;
  -moz-nbsp-mode: space;
}

.code-block {
	position: relative;
	border-radius: 5px;
	border: lightgray 1px solid;
	margin: 1em;
	max-width: 800px;
	min-width: 300px;
	overflow-x: auto;
}

