* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	margin: .5em;
	font: 1.2em / 1.5 sans-serif;
}
.parent {
	/* width: 600px; */
	border: solid #4d7298;
	padding: 10px;
	border-radius: 5px;
	margin: .25em 0 .25em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.child {
	background-color: #4d7298;
	color: white;
	padding: .5em;
	border-radius: 5px;
	/* width: fit-content; */
}
.nav-list {
	display: flex;
	justify-content: space-between;
	margin: .5em 0 .5em 0;
}
.nav-item {
	background-color: #4d7298;
	list-style-type: none;
	border-radius: 5px;
	padding: .75em;
}
.nav-item a {
	color: white;
	text-decoration: none;
}
.my-cols {
	list-style-type: none;
	display: flex;
	gap: .5em;
}
.item {
	/* gap: 10px; */
	background-color: #4d7298;
	border-radius: 5px;
	padding: .5em;
	color: white;
	flex: 1;
}
.item:nth-child(3) {
	flex: 2;
}