* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	margin: 3rem 5%;
	background-color: #f4f4f4;
}

header {
	text-align: center;
	margin-bottom: 1.5rem;
	background-color: rgba(26, 207, 2, 0.15);
	padding: 1.1rem 0 .2rem 0;
	border-radius: 10px;
}

.hero {
	/* background-color: #f5f7a7; */
	padding: 1rem 2rem 1.5rem 2rem;
	border-radius: 10px;
	text-align: center;
	/* padding: 1rem; */
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: #00490a;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav {
	font-size: 1.1rem;
}

a {
	color: #c06600;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

h2 {
	font-size: 2rem;
	margin: 1rem 0;
	background-color: #129700;
	color: #f4f4f4;
	padding: .5rem 1rem;
	line-height: normal;
}

h2 > p {
	padding: 0 1rem;
}

article a {
	display: inline-block;
	padding: .5rem 0;
}
header > img {
	height: 10rem;
	display: block;
	margin: 0 auto 1.5rem auto;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 1rem;
}

section {
	display: flex;
}

.card {
	flex: 1;
	margin: 1.5rem 1.25rem 0 1.25rem;
}

article img {
	width: 100%;
	/* border-radius: 10px; */
}

article img:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: rgba(26, 207, 2, 0.15);
	color: #027411;
	margin: 1.5rem 0;
	align-items: center;
	padding: 0 1.5rem;
}

footer div {
	/* flex: 1; */
	padding: 1rem 0;
}

footer img {
	width: 3rem;
}
