* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
.container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 1em;
}
.container > div {
	border-radius: 5px;
	padding: 10px;
	background-color: rgb(207 232 220);
	border: 2px solid rgb(79 185 227);
}

